:root {
  --color-primary-dark: #31261A;
  --color-primary-light: #FAF4EA;
  --color-brand-light: #819B57;
  --color-brand-dark: #465929;
  --color-copy: #A18268;
  --color-norm: #cfcfbc;
  --color-secondary-dark: #A18268;
}
